<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
      switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="sdt"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData= "Luminis.Its.Services.Rest.Test.Wcf-log.xml" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>