<?xml version="1.0" encoding="utf-8" ?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <FiditMSBuildTasksPath Condition="'$(FiditMSBuildTasksPath)' == ''">.\</FiditMSBuildTasksPath>
    <FiditMSBuildTasksAssembly>$(FiditMSBuildTasksPath)\Fidit.MSBuild.Tasks.dll</FiditMSBuildTasksAssembly>
  </PropertyGroup>

  <UsingTask AssemblyFile="$(FiditMSBuildTasksAssembly)" TaskName="Fidit.MSBuild.Tasks.Subversion.SvnGetVersion" />
  <UsingTask AssemblyFile="$(FiditMSBuildTasksAssembly)" TaskName="Fidit.MSBuild.Tasks.IO.ReadFile" />
</Project>
