<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("3ba4c1f3-86f0-4417-a5e4-a4501ed32953");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
