<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- configuration settings -->
  <log4net>
    <!-- A1 is set to be a ConsoleAppender -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <!-- A1 uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Luminis.Its.Services.Console-log.txt" />
      <appendToFile value="true" />

      <maxSizeRollBackups value="10" />
      <!-- max size is 300K -->
      <maximumFileSize value="300000" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />

      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;"/>
        <footer value="[Footer]&#13;&#10;"/>
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>

    <!-- Set root logger level to ALL and two appenders -->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>